<br>
<div class="container">
	<div class="row">
		<div class="col">
			<h2 class="signed_in_title">
			New Listings for you
			<%= @user.name %>				   
			</h2>

		</div>


		<div class="col"></div>
		<div class="col">
			<table class="listings-menu">
				<tr>
					<td> 
					<form action="/listings/new">
					<button class="redbutton"/> Create a Listing
					</form>
				<tr>
					<td>	
					<form action=<%= "http://localhost:3000/users/"+@user.id.to_s%>>
					 <button class="redbutton"/>  View your Listings   
					</form>
				<tr>
					<td> 
					<form action=<%= "http://localhost:3000/users/"+@user.id.to_s%>>
					<button class="redbutton"/> View Reservations
					</form>

			</table>
		</div>
	</div>
</div>
<br>


<!-- List of places -->
<div class="container">
	<div class="row">
					<% @listing.each do |l| %>
					<div class="col-md-4">
						<div class="listing-container">
							<h4><%= l.name %></h4>
							<br>
							<div id="property_type">
               			<%= l.property_type %>
           				</div>
				<!--<p>ID of this is: <%= l.id %></p>-->
							<p><%= l.description %></p>
							
							Rooms available: <%= l.room_number %><br>
							Beds available: <%= l.bed_number %><br>
							Sleeps: <%= l.guest_number %><br>
							<p>Price: <%= l.price %></p>
							<!-- <p>Amenities: <%= l.amenities %></p> -->
			<!-- Show/hide location script -->
							<div class="location_container">
								<a href= <%= "http://localhost:3000/listings/"+l.id.to_s%> class="btn btn-success" >View Listing</a>
								<button class="btn btn-success show_location" >Show Location</button>
									<ul class="subforums hidden" id="location_list"><br>
										<li><%= l.address %></li>
										<li><%= l.zipcode %></li>
										<li><%= l.city %></li>
										<li><%= l.state %></li>
										<li><%= l.country %></li>
									</ul>
							</div>
						</div>
					</div>
					<% end %> 
				



				<!-- <div class="col">
				</div>
				
				<div class="col">
				</div> -->

	</div>
</div>
<!-- :country, :state, :city, :zipcode, :address -->

<!-- overflow-x: visible; overflow-y: visible; -->
