<!-- Linked
<%if @listings.present? %>
  <% @listings.each do |l|%>
      <p><%= l.name%></p>
   <%end%>
<%else%>
<p>No results found</p>
<%end%> -->


<br>
<% if @listings.present? %>
<div class="container">
   <div class="row">
      <div class="col-12">
         <h2 class="results_title">  Listings near the city of <%=params[:city]%></h2>
      </div>
   </div>
</div>


<!-- List of places in city -->
<div style="margin-right: 5%;margin-left: 5%;">
   <div class="row">
               <% @listings.each do |l| %>
               <div class="col-3" >
                  <div class="listing-container" style="margin:0px; margin-top: 10px;margin-bottom:10px;background-color:white; padding-right:0px;padding-left:0px;">   
                     <!--  <a href= <%= "http://localhost:3000/listings/"+l.id.to_s%>
                           style="width:100%;height:100%; position: absolute;"
                           > -->
                  <%= button_to "", listing_path(l.id), :method => 'get', class: "item_button" %>
                        </a>

                     <%if l.images.present? %>
                        <!-- <div style="text-align: center;"> -->
                          <img style="width:100%; border-radius:3px;" src="<%=l.images[0].medium.url%>">
                        <!-- </div> -->
                        <%else%>
                        No Image
                     <%end%>
                     <br>
                     <div id="property_type">
                        <%= l.property_type %> -
                        <%= l.city %>
                     </div>
                     <h4 style="margin-bottom:0px;"><%= l.name %></h4>
                     <div>RM<%= l.price %> per night</div>
                     <div><%=l.user.name%></div>
               
                        <!-- Show/hide location script - SCRAPPED --><!-- <button class="btn btn-success show_location" >Show Location</button>
                           <ul class="subforums hidden" id="location_list"><br>
                              <li><%= l.address %></li>
                              <li><%= l.zipcode %></li>
                              <li><%= l.city %></li>
                              <li><%= l.state %></li>
                              <li><%= l.country %></li>
                           </ul> -->
                     
                  </div>
               </div>
               <% end %> 
   </div>
</div>



 

<% else %>

<div class="container">
   <div class="row">
      <div class="col-12">
         <h2 class="results_title">  No listings found in the city of <%=params[:city]%></h2>
         Please ensure you're spelling is correct
      </div>
   </div>
</div>

<% end %>