<br>
<div class="container">
   <div class="row">
      <div class="col-md-8" id="left">
         <div class="listing-container three">
            <div id="property_type">
               <%= @listing.property_type %>
            </div>
            <h2><%= @listing.name %></h2>
              <p> <%= @listing.city %> </p>
            <div class="row">
               <div class="col-2">
               Rooms: <%= @listing.room_number %>
               </div>
               <div class="col-2">
               Beds: <%= @listing.bed_number %>
               </div>
               <div class="col-2">
               Sleeps: <%= @listing.guest_number %>
               </div>
            </div>
            <br>
            <p><%= @listing.description %></p>

            <p> <%= @listing.address %> </p> 
            <p> <%= @listing.zipcode %> </p>
            <p> <%= @listing.state %> </p>
            <p> <%= @listing.country %> </p>
           
          <!--   <div style="text-align:center;"">
            </div> -->
         </div>                  
      </div>

      <div class="col-sm-4" id="right">
         <div class="listing-container two">
            <div style="border-bottom: 0.5px solid black;margin-bottom: 20px;">
                <span style="font-size:2em;font-weight:bold"><%= @listing.price %> RM </span>per night
                <br>
                Place holder stuff review
                <br>
                <br>
            </div>


            <form action="#">
               <button class="redbutton"/>Contact Details</button>
            </form>



              <div id="book_now">
                  <button class="book_menu" id="book_button">Book now</button>      
                        <div class="booking hidden">
                              <div>Dates</div>
                              <%= form_for [@listing, @reservation] do |form|%>
                              <p><%= form.date_field :check_in%></p>
                              <p><%= form.date_field :check_out%></p>
                              <p><%= form.submit%></p>
                              <% end%>                  
                        </div>
              </div>
                




<!-- form submit

<%# form for @reservation url:create %>
=> reservaiont controller #create -->



            <br>
         
         </div>
     
      </div>
   </div>
</div>

