<div class="container">
<div class="row">

  <div class="col-sm">
    </div>

    <div class="col-sm">
    </div>


    <div class="col-sm">

            <div id="clearance" class="sign-up">
              <br>
              <h2><%= t(".title") %></h2>

              <%= form_for @user do |form| %>
                <%= render partial: '/users/form', object: form %>

                <div class="submit-field">
                  <%= form.submit %>
                </div>

                <div class="other-links">
                  <%= link_to t(".sign_in"), sign_in_path %>
                </div>
              <% end %>
            </div>
    </div>

</div>
</div>
