<br>
<div class="container">
		<div class="row">
				<div class="col-md-6">
				<h2>These are your listings <%= @user.name %></h2>
				</div>
		</div>

		<% @listings.each do |l| %>
			<div class="col-md-12">

				<div class="listing-container">
					<h4><%= l.name %></h4>
					<br>
					<p><%= l.description %></p>
					Rooms available: <%= l.room_number %><br>
					Beds available: <%= l.bed_number %><br>
					Sleeps: <%= l.guest_number %><br>
					<p>Price: <%= l.price %></p>

				
					<div style="text-align:center;"">
						<%= link_to "Edit This Listing", edit_listing_path(l) ,class: "btn btn-success" %>
					</div>
				</div>						
			</div>
		<% end %> 
</div>

<!-- <a href= <%= "http://localhost:3000/users/"+@user.id.to_s%> class="btn btn-info" >Profile</a> -->