<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tag %>
<!-- css boostrap link -->
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		  <title>Airbnb</title>
</head>
<body>

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <%= link_to "Airbnb", root_path, class: "navbar-brand" %>

<!--   <a class="navbar-brand" href="http://localhost:3000">Airbnb</a> -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <%= form_tag listing_search_path, method: :get do%>
      <%= text_field_tag :city, "", class: 'search'%>
      <%= submit_tag "Search", class: 'btn btn-info', id:'search_button'%>
    <% end %>


   <!--  <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Listings" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form> -->

  </div>


  

  <ul class="navbar-nav navbar-right">
     <li class="nav-sessioncontrol">  
        <% if signed_in? -%>
    <!--   <a data-method="delete" href="http://localhost:3000/sign_out" class="btn btn-info">Sign out</a> -->
        <%= link_to "Sign out", sign_out_path,:method => 'delete', class: "btn btn-info" %>
        <% else %>
        <%= link_to "Sign in", sign_in_path, class: "btn btn-info"%>
          <!-- <a href="http://localhost:3000/sign_in" class="btn btn-info">Sign in</a> -->
			     
           <% end -%> 				     
     </li>   
  </ul> 


<!-- Link to profile -->
  <ul class="navbar-nav navbar-right">
     <li class="nav-sessioncontrol">  

          <% if signed_in? -%>
          <%= link_to @user.name, user_path(current_user), class: "btn btn-info" %>

<!--  listing_reservations_path(@listing, @resrvations)

 /listings/23/resrvations/1 -->
<!-- <a href= <%#= "http://localhost:3000/users/"+@user.id.to_s%> class="btn btn-info" ><%#=@user.name%></a>
 -->
           <% else -%>
           <% end -%>   
         
     </li>   
  </ul>

<!-- Link to Sign up -->
  <ul class="navbar-nav navbar-right">
     <li class="nav-sessioncontrol">  

           <% if signed_in? -%>
           <!-- Display nothing -->
           <% else -%>
             <%= link_to "Sign up", sign_up_path, class: "btn btn-info"%>
           <!-- <a href="http://localhost:3000/sign_up" class="btn btn-info">Sign up</a> -->
           <% end -%>   
         
     </li>   
  </ul>

    <ul class="navbar-nav navbar-right">
     <li class="nav-sessioncontrol">  

           <% if signed_in? -%>
           <!-- Display nothing -->
           <% else -%>

           <%#= link_to "Facebook Sign in", auth_path, class: "btn btn-info"%>
           <a href="http://localhost:3000/auth/facebook" class="btn btn-info">Facebook Sign in</a>
           <% end -%>   
         
     </li>   
  </ul>

   <ul class="navbar-nav navbar-right">
     <li class="nav-sessioncontrol">  
       <% if signed_in? -%>
          <% if @user.avatar.url.present?%>
          <%= image_tag @user.avatar.small.url, :class => "avatar" %>
          <%else%> 
          <%end%>
        <%else%>
        <%end%>
       </li>   
  </ul>

<!--    <ul class="navbar-nav navbar-right">
     <li class="nav-sessioncontrol">  
       <% if signed_in? -%>
        <%= @user.name%>
        <%else%>
        <%end%>
       </li>   
  </ul> -->

    
  
</nav>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>


 <%= yield %>

<!-- JS bootstrap -->
		 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
















<!--            <%= button_to t(".sign_up"), sign_up_path, method: :get %> -->







<!--   <div id="header">
    <% if signed_in? -%>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>
 -->



<!--   <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div> -->

